<div id="alert" class="modal fade" tabindex="-1" aria-labelledby="alertLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div id="alert-message" class="modal-body text-center"></div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-sm btn-secondary text-uppercase px-4"
          data-bs-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>