<div class="container-fluid mb-2" id="navbar">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="d-flex flex-column flex-sm-row align-items-sm-center my-2">
        <div class="d-flex flex-grow-1 justify-content-between align-items-center">
          <a href="/" class="d-flex justify-content-center align-items-center brand">
            <span>kode</span>
            <em>sederhana</em>
          </a>
          <div class="d-flex justify-content-end pe-0 pe-md-2" id="navbar-icons">
            <a href="/"><span>Beranda</span></a>
            <a href="/tags"><span>Kategori</span></a>
            <a href="/authors"><span>Penulis</span></a>
          </div>
        </div>
        <div class="d-flex">
          <div class="d-flex flex-grow-1 search-box ">
            <input type="text" class="form-control form-control-sm" placeholder="cari..." id="search">
            <span class="icon-search" id="btn-search"></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>