<div id="paging-info">
  "previous" : "{{pagination.href.previous}}",
  "next" : "{{pagination.href.next}}",
  "pageNumber" : {{add pagination.pageNumber 1}},
  "pageCount" : {{length pagination.pages}}
</div>
<div id="paging">
  <a id="paging-previous" href="#"><span class="icon-left-open"></span></a>
  <a id="paging-next" href="#"><span class="icon-right-open"></span></a>
  <span id="paging-text"></span>
</div>