---
layout: main
---
<div class="container-fluid">
  <div class="row align-items-center justify-content-center g-0">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="banner">
        <img class="banner-img" src="/assets/img/banners/banner1.jpg" />
        <div class="banner-txt">
            Blog sederhana dengan contoh-contoh yang sederhana
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="content">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="d-flex flex-column align-items-center">
        <img width="200px" height="200px" src="/assets/img/authors/ferrylinton.png" alt="Author"
          class="border border-secondary border-5 rounded-circle mt-5 bg-secondary" />
        <div class="righteous text-uppercase fs-1 fw-bold lh-1 text-primary mt-3">Ferry L. H.</div>
        <div class="text-uppercase fs-4 lh-1 text-secondary mt-3">Software Developer</div>
        <div class="fs-1 fw-bold lh-1 text-success mt-1">ferrylinton@gmail.com</div>
        <div class="author-description">
          <p>
            I have participated in several projects that create applications based on the Java programming language.
            Here are some of the frameworks I have used:
          </p>
          <ul>
            <li>
              <strong>Java</strong><br />
              <span>
                Springboot, Spring MVC, Spring Data JPA, Hibernate, Spring Security, Spring OAuth2, MITREid Connect,
                Apache
                Camel, Apache CXF)
              </span>
            </li>
            <li>
              <strong>Javascript</strong><br />
              <span>Angular, Jquery</span>
            </li>
            <li><strong>Bootstrap</strong></li>
            <li>
              <strong>Database</strong><br />
              <span>Postgresql, Oracle, Mysql</span>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>