@font-face {
  font-family: "Batak";
  src: local("Batak"), url(../fonts/BATAKTOBA1.1.ttf) format("truetype");
}

.aksara-glyph {
  font-family: "Batak";
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e04444;
  text-shadow: 1px 1px #3a3a3a;
}

.aksara-glyph::before {
  content: var(--content, '');
}

.aksara-text{
  font-family: Orbitron,sans-serif;
  letter-spacing: 3px;
  text-align: center;
  margin-top: -5px;
  text-transform: uppercase;
  text-shadow: 1px 1px #3a3a3a;
  font-size: 1.2rem;
}

@media (min-width: 576px) {

  .aksara-glyph {
    font-size: 2.5rem;
  }

  .aksara-text{
    font-size: 1.5rem;
  }
}