.banner{
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  background-color: var(--bs-gray-900);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.banner .banner-img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.banner .banner-txt{
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 5px 0 10px 0;
  bottom: 0;
  left: 0;
  background-color: rgba(41, 86, 152, 0.871);
  z-index: 2;
  color: #fff;
  text-shadow: 1px 1px #000000;
  font-size: .9rem;
}

.banner .banner-txt .banner-meta{
  font-size: .85rem;
}

.banner .banner-meta [class^="icon-"]{
  line-height: 1;
  margin-right: 2px;
}

.banner .banner-meta span, .banner .banner-meta a{
  text-transform: uppercase;
  color: var(--bs-gray-400);
  line-height: 1;
}

@media (min-width: 576px) {

  .banner .banner-txt{
    font-size: 1rem;
  }

  .banner .banner-txt .banner-meta{
    font-size: .85rem;
  }

}

@media (min-width: 768px) {

  .banner .banner-txt{
    font-size: 1.3rem;
  }

  .banner .banner-txt .banner-meta{
    font-size: .85rem;
  }
  
}