@font-face {
  font-family: "Orbitron";
  src: local("Orbitron"), url(../fonts/Orbitron-VariableFont_wght.ttf) format("truetype");
}

.orbitron {
  font-family: Orbitron,sans-serif;
}

/* Override bootstrap */

#tags .card, #authors .card{
  border-radius: 0;
  border-left: solid 3px #9e9e9e;
}

#alert .modal-footer{
  justify-content: center;
}

#alert .modal-body{
  padding: 2rem 1rem 1rem 1rem;
}

.alert, .modal-content, .btn-group-sm>.btn, .btn-sm{
  border-radius: 0;
}

:not(pre)>code[class*=language-],
pre[class*=language-],
pre,
blockquote {
  background-color: var(--bs-gray-100);
  border: solid 1px var(--bs-gray-200);
  padding: 10px;
  font-size: .8em;
}

.form-control::placeholder {
  color: var(--bs-gray-500);
}

body {
  min-width: 400px;
  background-color: #ffffff
}

a {
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

blockquote p {
  margin-bottom: 0;
}

footer {
  color: var(--bs-gray-600);
  border-top: solid 1px #f0f0f0;
  background-color: #f8f8f8;
}

.post-meta{
  margin: 10px 0;
  text-transform: uppercase;
  font-size: .8em;
}

.post-meta [class^="icon-"]{
  font-size: .8em;
  line-height: 1em;
  margin-right: 2px;
}

.post-meta a, .post-meta span{
  color: var(--bs-secondary);
  line-height: 1em;
}

.post-meta a:hover{
  color: var(--bs-gray-700);
}

.markdown-box h2 {
  margin: 2rem 0;
}

.markdown-box h3 {
  margin: 1rem 0;
}

.author-description {
  margin: 15px 0;
}

@media (min-width: 768px) {

  .author-description {
    width: 600px;
  }

}

.l-1 {
  letter-spacing: -1px;
}

.fs-0 {
  font-size: calc(2.5rem + 1.5vw) !important;
}

.fs-7 {
  font-size: .8rem !important;
}

.fs-404 {
  font-size: 130px;
  font-weight: bold;
  line-height: 1;
}

.not-found-box {
  background-color: var(--bs-gray-500);
}

.not-found-number {
  text-align: center;
  font-size: 160px;
  font-weight: bold;
  background-color: #fff;
}

.not-found-text {
  text-align: center;
  background-color: var(--bs-gray-500);
  color: #ffffff;
}

.tag-text{
  font-family: Orbitron,sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color: var(--bs-gray-600);
  display: block;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 15px;
}

.tag-text:hover{
  color: var(--bs-primary);
}

#content{
  min-height: 450px;
}

#search-info{
  display: none;
}

#search-info span{
  display: block;
  margin: 10px 0 20px 0;
  color: var(--bs-gray-600);
  border-bottom: solid 1px var(--bs-gray-200);
}

.tags{
  margin: 5px 0;
}

.tags a{
  display: inline-block;
  color: var(--bs-gray-600);
  text-transform: uppercase;
  margin: 0 10px 10px 0;
  line-height: 1;
  font-size: .8em;
}

.tags a span{
  line-height: 1;
}

.tags a [class^="icon-"]{
  font-size: .8em;
  line-height: 1em;
  margin-right: 2px;
  color: var(--bs-gray-500);
}

.tags a:hover{
  color: var(--bs-gray-700);
}

.tags a:hover [class^="icon-"]{
  color: var(--bs-gray-700);
}