#navbar {
  z-index: 3;
  background-color: #fff;
}

.txt-shadow {
  text-shadow: 1px 1px #3a3a3a;
}

.brand {
  padding-top: 1px;
  font-size: 1.6rem;
  text-transform: lowercase;
  line-height: 1;
  font-family: 'El Messiri', sans-serif;
}

@media (min-width: 768px) {

  .brand {
    padding-top: 5px;
    font-size: 1.8rem;
  }

}


.brand span {
  font-weight: bold;
  color: var(--bs-gray-900);
  display: inline-block;
}

.brand em {
  font-style: normal;
  color: #e04444;
  display: inline-block;
}

#navbar-icons a {
  margin-right: 4px;
  text-align: center;
  cursor: pointer;
  color: var(--bs-gray-900);
  text-transform: uppercase;
  color: #4b566b;
  font-size: .95em;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: .5px;
}

#navbar-icons a:hover,
#navbar-icons a.active {
  color: var(--bs-primary);
}

#navbar-icons a [class^="icon-"]:before {
  font-size: 20px;
}

.search-box {
  position: relative;
  display: inline-block;
}

.search-box .form-control {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border-color: #b7b7b7;
}

.search-box .form-control~.icon-search {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  color: var(--bs-gray-400);
}

.search-box .form-control~.icon-search::before {
  font-size: 18px;
  line-height: 2rem;
}

.search-box .form-control:focus {
  box-shadow: none;
  border-color: var(--bs-primary);
}

.search-box .form-control:focus~.icon-search {
  color: var(--bs-primary);
}

#btn-search:hover {
  color: var(--bs-primary);
}