#paging {
    display: none;
    margin: 20px 0;
}

#paging a {
    width: 60px;
    height: 35px;
    margin-right: 3px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border: solid 1px var(--bs-gray-500);
    border-radius: 20px;
    color: var(--bs-gray-600);
}

#paging a:hover {
    border-color: var(--bs-primary);
    color: var(--bs-primary);
}

#paging a.disabled {
    background-color: var(--bs-gray-100);
    color: var(--bs-gray-400);
}

#paging a.disabled:hover {
    color: var(--bs-gray-400);
    border-color: var(--bs-gray-500);
}

#paging-text {
    margin-left: 5px;
    display: inline-block;
    line-height: 35px;
    color: var(--bs-gray-600);
}

#paging-info {
    display: none;
    height: 0;
    width: 0;
}