---
permalink: /assets/js/all.js
---
{{{jsmin 'node_modules/bootstrap/dist/js/bootstrap.bundle.js' }}}
{{{jsmin 'node_modules/fuse.js/dist/fuse.js' }}}
{{{jsmin 'src/assets/js/aksara-batak.js' }}}
{{{jsmin 'src/assets/js/post.js' }}}
{{{jsmin 'src/assets/js/paging.js' }}}
{{{jsmin 'src/assets/js/main.js' }}}