---
permalink: /assets/css/all.css
---
{{{cssmin 'node_modules/bootstrap/dist/css/bootstrap.css' }}}
{{{cssmin 'node_modules/prismjs/themes/prism.css' }}}
{{{cssmin 'src/assets/css/fontello.css'}}}
{{{cssmin 'src/assets/css/main.css'}}}
{{{cssmin 'src/assets/css/aksara-batak.css'}}}
{{{cssmin 'src/assets/css/banner.css'}}}
{{{cssmin 'src/assets/css/navbar.css'}}}
{{{cssmin 'src/assets/css/paging.css'}}}