---
permalink: /authors/
layout: main
---
<div class="container-fluid">
  <div class="row align-items-center justify-content-center g-0">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="banner">
        <img class="banner-img" src="/assets/img/banners/banner1.jpg" />
        <div class="banner-txt">
            Blog sederhana dengan contoh-contoh yang sederhana
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="content">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="py-5 py-md-5 px-5 px-md-4 px-lg-0">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ow-cols-lg-4 g-5" id="authors">
          {{#each collections.authors}}
          {{#with this}}
          <div class="col">
            <div class="card p-4">
              <img src="/assets/img/authors/{{lowercase username }}.png" class="card-img-top img-thumbnail rounded-circle" alt="...">
              <div class="card-body pt-4 pb-0 px-0">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{ count }}
                </span>
                <a href="/authors/{{lowercase username }}" class="d-block text-center link-secondary fw-bold text-uppercase stretched-link">{{ displayName }}</a>
              </div>
            </div>
          </div>
          {{/with}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>