---
layout: main
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - tags
    - authors
permalink: /tags/{{lowercase tag }}/
---
<div class="container-fluid">
  <div class="row align-items-center justify-content-center g-0">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="banner">
        <img class="banner-img" src="/assets/img/banners/banner1.jpg" />
        <div class="banner-txt">
            Blog sederhana dengan contoh-contoh yang sederhana
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3" id="content">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-10 col-xl-8" id="posts">
      {{setVarFromObj 'posts' tag collections.posts}}
      {{#each posts}}
      <div class="mb-3 text-decoration-none link-dark">
          <h3 class="m-0"><a href="{{ this.url }}" class="link-secondary">{{this.title}}</a></h3>
          <div class="d-flex align-items-center post-meta">
            <span class="icon-calendar"></span><span class="me-3">{{format this.date}}</span>
            <span class="icon-author"></span><a href="/authors/{{this.author.username}}">{{this.author.displayName}}</a>
          </div>
          {{{excerpt}}}

          <div class="tags">
          {{#each tags}}
            <a href="/tags/{{lowercase this}}"><span class="icon-tag"></span><span>{{this}}</span></a>
          {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>