---
layout: main
---

<div class="container-fluid">
  <div class="row align-items-center justify-content-center g-0">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="banner">
        <div class="d-flex flex-column justify-content-center align-items-center temple" id="to-aksara">
          <p>soala gogo</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-10 col-xl-8" id="search-info">
      <span>Kata kunci : </span>
    </div>
    <div class="col-md-12 col-lg-10 col-xl-8" >
      <div id="posts"></div>
      {{> paging}}
    </div>
  </div>

</div>
