---
permalink: /tags/
layout: main
---
<div class="container-fluid">
  <div class="row align-items-center justify-content-center g-0">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="banner">
        <img class="banner-img" src="/assets/img/banners/banner1.jpg" />
        <div class="banner-txt">
            Blog sederhana dengan contoh-contoh yang sederhana
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="content">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="py-5 py-md-5 px-5 px-md-4 px-lg-0">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ow-cols-lg-4 g-5" id="tags">
          {{#each collections.tags}}
          {{#with this}}
          <div class="col">
            <div class="card p-1">
              <div class="card-body px-0">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{ count }}
                </span>
                <a href="/tags/{{lowercase tag }}" class="tag-text">{{ tag }}</a>
              </div>
            </div>
          </div>
          {{/with}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>