<!DOCTYPE html>
{{setVar 'rdm' (random 1000000000 9999999999)}}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>blog</title>
  <link rel="icon" href="/favicon.ico?{{rdm}}" type="image/ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/all.css?{{rdm}}" />
</head>

<body class="d-flex flex-column vh-100">
  {{> navbar}}
  <main id="main">
    {{{content}}}
  </main>
  {{> footer}}
  {{> alert-modal}}
  <script src="/assets/js/all.js?{{rdm}}"></script>
</body>

</html>