---
layout: main
---
<div class="container-fluid">
  <div class="row align-items-center justify-content-center g-0">
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="banner">
        <img class="banner-img" src="/assets/img/banners/banner1.jpg" />
        <div class="banner-txt">
            {{ title }}
            <div class="banner-meta">
            <span class="icon-calendar"></span><span class="me-3">{{format date}}</span>
            <span class="icon-author"></span><a href="/authors/{{this.author.username}}">{{author.displayName}}</a>
          </div>
          <div class="banner-meta">
            {{#each tags}}
              <span class="icon-tag"></span> <a class="me-3" href="/tags/{{lowercase this}}">{{this}}</a>
            {{/each}}
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-10 col-xl-8 mb-5 markdown-box">
      <div id="posts">{{{content}}}</div>
    </div>
  </div>
</div>